<%
  if Rails.env.production?
    domain = request.env['SERVER_NAME']
    prod = ENV.fetch('SENTRY_CURRENT_ENV')=='production'

    subdomain, site_id =
      case domain
      when /deinklima/ then ['deinklima', prod ? 1 : 2]
      when /dialog/    then ['ocl-test',  prod ? 2 : 1]
      else [nil, nil]
      end
  end
%>

<% if subdomain %>
<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];

  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["setCookieDomain", "<%= domain %>"]);
  _paq.push(["setDomains", ["<%= domain %> "]]);
  _paq.push(["setDoNotTrack", true]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);

  (function () {
      var u = "https://<%= subdomain %>.matomo.cloud/";
    _paq.push(['setTrackerUrl', u + 'matomo.php']);
    _paq.push(['setSiteId', '<%= site_id %>']);
    var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
      g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = '//cdn.matomo.cloud/<%= subdomain %>.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g, s);
  })();
</script>
<noscript><p><img src="https://<%= subdomain %>.matomo.cloud/matomo.php?idsite=<%= site_id %>&amp;rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Matomo Code -->
<% end %>
