<div class="fieldset">
  <h4><%= t("decidim.system.models.organization.fields.smtp_settings") %></h4>
  <%= f.fields_for :smtp_settings do %>
    <fieldset class="fieldset">
      <legend><%= t(".fieldsets.sender") %></legend>
      <%= f.email_field :from_email, placeholder: t(".placeholder.from_email") %>
      <%= f.text_field :from_label, placeholder: t(".placeholder.from_label") %>
      <p class="help-text"><%= t(".instructions.from_label") %></p>
    </fieldset>
    <div class="field">
      <%= f.text_field :user_name %>
    </div>
    <div class="field">
      <%= f.text_field :password %>
    </div>
    <div class="field">
      <%= f.text_field :address %>
    </div>
    <div class="field">
      <%= f.number_field :port %>
    </div>
  <% end %>
</div>

<div class="fieldset">
  <h4><%= t("decidim.system.models.organization.fields.tenant_type") %></h4>
  <div class="field">
    <%= f.select :tenant_type,
                 [:dialogluzern, :deinklima, :gemeinsamerspace, :winterthur],
                 { include_blank: t("decidim.system.organizations.tenant_type.none") },
                 { multiple: false } %>
  </div>
</div>

<div class="fieldset">
  <h4><%= t("decidim.system.models.organization.fields.map_config") %></h4>
  <%= f.fields_for :map_config do %>
    <div class="field">
      <%= f.text_field :provider, placeholder: Decidim.maps.dig(:dynamic, :provider)&.to_s %>
    </div>
    <fieldset class="fieldset">
      <legend><%= t(".fieldsets.map_config.default_center") %></legend>
      <%= f.number_field :default_center_lat, placeholder: Decidim.maps.dig(:dynamic, :default_center, :lat)&.to_s %>
      <%= f.number_field :default_center_lng, placeholder: Decidim.maps.dig(:dynamic, :default_center, :lng)&.to_s %>
    </fieldset>
    <fieldset class="fieldset">
      <legend><%= t(".fieldsets.map_config.map_limits") %></legend>
      <%= f.number_field :map_limits_lat_min, placeholder: Decidim.maps.dig(:dynamic, :map_limits, :lat_min)&.to_s %>
      <%= f.number_field :map_limits_lng_min, placeholder: Decidim.maps.dig(:dynamic, :map_limits, :lng_min)&.to_s %>
      <%= f.number_field :map_limits_lat_max, placeholder: Decidim.maps.dig(:dynamic, :map_limits, :lat_max)&.to_s %>
      <%= f.number_field :map_limits_lng_max, placeholder: Decidim.maps.dig(:dynamic, :map_limits, :lng_max)&.to_s %>
    </fieldset>
  <% end %>
</div>

<div class="fieldset">
  <h4><%= t("decidim.system.models.organization.fields.aspsms") %></h4>
  <div class="field">
    <%= f.text_field :aspsms_user_key %>
    <%= f.text_field :aspsms_password %>
  </div>
</div>
